/* App__container */

.app__container {
    background-color: #fafafa;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 16px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 400;
}

.category__list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category__item {
    position: relative;
}

.category__item:first-child::after {
    display: none;
}

.category__item::after {
    border-bottom: 1px solid #ccc;
    content: "";
    position: absolute;
    top: 0px;
    left: 20px;
    right: 20px;
}

.category__item--active .category__item-link {
    color: var(--primary-color);
}

.category__item--active .category__item-link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
}

.category__item-link {
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 20px;
    display: block;
    transition: right linear 0.3s;
    
}


.category__item-link:hover {
    color: var(--primary-color);
    right: -4px;
} 
/* Mobile-category */
.mobile-category {

}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88CF81;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    text-align: center;
    width: 110px;
    display: block;
    border-radius: 4px;
    font-weight: 300;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 7px;
}

/* Home sort + filter */

 .home-filter {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    padding: 6px 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
}

.select-input__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 6px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    text-decoration: none;
    background-color: var(--white-color);
}

.home-filter__page-btn:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: var(--text-color);
} */


/* home-product */

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transition: top linear 0.3s;
    text-decoration: none;
    padding-bottom: 10px;
}

.home-product-item:hover {
    top: -2px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-left: 10px;
}

.home-product-item__price-old {
    color: #666;
    text-decoration: line-through;
    font-size: 1.4rem;   
}

.home-product-item__price-current {
    color: var(--primary-color);
    font-size: 1.6rem;
    margin-left: 4px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 6px 10px;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like-icon-empty {
    font-size: 1.4rem;
}

i.home-product-item__like-icon-fill {
    display: none;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #ccc;
    margin-left: auto;
}

.home-product-item__star--gold {
    color: var(--star-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: #666;
    font-size: 1.2rem;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: currentColor;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 3px;
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    width: 40px;
    background-color: var(--star-color);
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent var(--star-color) transparent var(--star-color);
}

.home-product-item__sale-off-percent {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
    top: 2px;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.2rem;
} 

/* Pagination */

 .pagination__home-product {
    margin: 48px 0 32px 0;
    padding-left: 0;
}  
